<div class="container bg-light pt-5">
  <div class="card text-center">
    <div class="row text-center pt-4">
      <h2>{{ currentBookmark.authorName }}</h2>
    </div>
    <div class="row my-3">
      <h3>Comment:</h3>
      <h4>{{ currentBookmark.comment }}</h4>
    </div>
    <form #bookmarkForm="ngForm" autocomplete="off">
      <div class="form-group mb-3 mx-2">
        <label class="form-label">Update comment:</label>
        <input
          type="text"
          name="comment"
          class="form-control"
          placeholder="New Comment"
          [(ngModel)]="comment"
        />
      </div>
      <div class="raw d-flex mx-2">
        <button
          type="submit"
          class="btn btn-outline-primary btn-lg"
          (click)="updateComment()"
        >
          Confirm
        </button>
        <button
          type="button"
          class="btn btn-danger btn-lg mx-2"
          (click)="backToList()"
        >
          Back
        </button>
        <button
          type="button"
          class="btn btn-success btn-lg"
          (click)="getBooks(currentBookmark.bookmarkId)"
        >
        Get list of books
        </button>
      </div>
    </form>

    <h2 class="display-7 pt-4">Books:</h2>
    <ul class="list-group mb-5">
      <li *ngFor="let b of books" class="list-group-item my-2">
        <div class="raw mt-3">
          {{ b.title }}
        </div>
      </li>
    </ul>
  </div>
</div>
